body {
  align-items: stretch;
  box-sizing: border-box;
  display: flex;

}

.container {
  display: flex;
  flex-wrap: wrap;
  margin: 0 2rem;

}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 2%;
  width: 100%;
}
.wrapper .content {
  flex-grow: 2;
}

img {
  width: 100%;
}

@media screen and (min-width:980px) {
  .container {
    max-width: 1080px;
    margin: 0 auto;

  }

  .wrapper {
    border: 1px solid #ccc;
    border-radius: 1.5rem;
    margin-right: 2%;
    padding: 2%;
    width: 27%;
  }
}